<html>
<head>
<title>Forgot Password Email</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<!-- Bootstrap --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

#font{
    color: #3f4652;
    font-size: 16px;
    font-family: 'vardana', sans-serif; 
    line-height: 1.4em;	
    }
#headder{
	background-color:#666;
	text-align:center;
	color:#fff;
	font-size:22px;
	height:40px;
	line-height:40px;
	}
#footer{
	background-color:#666;
	text-align:center;
	color:#fff;
	font-size:12px;
	}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
a{
color:#fff;

}
h6{
margin:30px 0px;
line-height:20px;

}
</style>
</head>
	<body>
		<div class="container">
			<br/> <br/>
												<!------Header---->
			<div class="row"> 
			<img style="-webkit-user-select: none" src="http://ec2-52-24-36-161.us-west-2.compute.amazonaws.com/img/celogo.png" height="90px" width="300px">
				<div class="col-md-12" id="headder"> 	 
				
				Collab Events
				</div>
				
				
			</div>	
												<!------Body---->
			<div class="row"> 
			
				<div style="margin:15px 0px; font-size: 28px;font-family: 'Open Sans',sans-serif;font-weight: 300; text-align:center;">Password for your Collab Events account.</div>
				<div class="col-md-8 col-md-offset-2" id="font"> 
				<!------new content---->
				
				
					<div class="row"> 
						<div class="col-md-12" > 
							Greetings from Collab Events!<br/><br/>

							We received a request to reset the password associated with this email address.
							If you made this request, please follow the instructions below.<br/><br/>

							If you weren't trying to reset your password, don't worry <br/><br/>
							your account is still secure and no one has been given access to it. You can safely ignore this email.<br/><br/>
							Here is the password you set for your account <a href="mailto:$email" style="color:red">$email</a> in response to your request : <b> $password </b>.
							<br/>
							<br/>
							
						</div>
						<div class="col-md-12" > 
						
						Thanks & Regards,
						<br/>
						$hostName
						<br/><br/><br/><br/>
					</div>
					</div>

					
					
					<!------new content---->		
					
				</div>
												<!------Footer---->
				<div class="col-md-12" id="footer"> 
			
					<h6>Connect with us!</h6>
					
					<h6><a href="#">Our blog </a>|<a href="#"><img src="http://ec2-52-24-36-161.us-west-2.compute.amazonaws.com/img/facebook.png"> Facebook</img></a> |<a href="#"><img src="http://ec2-52-24-36-161.us-west-2.compute.amazonaws.com/img/twitter.png"> Twitter</img></a>| <a href="#">Pinterest</a><br/>
					Follow us on Facebook.</h6>
					<h6 >We share Event tips and inspiration daily</h6>
					<br/>
					<a style="height:40px; width:100px;border:2px solid #fff; align=center;padding:15px;">Collab Events.</a>
					<br/>
					<h6>You are receiving this email because you signed up for Collab Events.<br/>
					If you did not make this request, please contact <a href="#"><u>support.</u></a></h6>
					
				</div>					
				
			</div>
		</div>
		

	</body>
</html>